
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
    --primary-text-color: #333;
    --secondary-text-color: #777;

    --primary-bg-color: #f9f9f9;
    --secondary-bg-color: #e0e0e0;
}


/* ========================= Typography ========================= */

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/* ========================= Colors & Design ========================= */

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

div {
    border: 1px solid var(--secondary-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.day-passed {
    background-color: #d3d3d3;
    color: var(--secondary-text-color);
}

.day-today {
    font-weight: 700;
    border: 2px solid var(--primary-text-color);
}

.day-future {
    background-color: inherit;
}


/* ========================= Layout ========================= */

#calendar-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#calendar-scrollview {
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

#calendar-scrollview::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll-buffer {
    height: 40px;
    border: none;
    box-shadow: none;
    background: transparent;
}

.week-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.week-label {
    font-weight: 700;
    margin-right: 5px;
}

.week-widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.week-widget {
    overflow: hidden;
}

.week-days {
    display: flex;
    gap: 10px;
    padding: 10px;
}

